In [ ]:
Q1. Create one variable containing following type of data:

(i)	str
(ii) list
(iii) float
(iv) tuple

In [ ]:
Answer:
    # (i) String
    my_string = "Hello, World!"

In [ ]:
Q2. Given are some following variables containing data:
    What will be the data type of the above given variable.

(i)	var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [ ]:
Answer:
    var1 is a string
    var2 is a string
    var3 is a list
    var4 is an integer

In [ ]:
Q3. Explain the use of the following operators using an example:

(i)	/
(ii) % 
(iii) //
(iv) **

In [ ]:
Answer:
    (i) / (Division Operator):
    The division operator is used to divide one number by another.
Example:
    x = 10 / 3
    print(x)  
    # Output: 3.3333333333333335
    
    (ii) % (Modulus Operator):
    The modulus operator calculates the remainder when one number is divided by another.
Example:
    x = 10 % 3
    print(x)  
    # Output: 1
    
    (iii) // (Floor Division Operator):
    The floor division operator divides one number by another and returns the 
    largest integer less than or equal to the quotient, without any decimal places.
Example:
    x = 10 // 3
    print(x)  
    # Output: 3
    
    (iv) ** (Exponentiation Operator):
    The exponentiation operator raises a number to a power.
Example:
    x = 2 ** 3
    print(x) 
    # Output: 8

In [ ]:
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [1]:
Answer:
    my_list = [10, "Hello", 3.14, True, [1, 2, 3], {'a': 1, 'b': 2}, None, (1, 2), "World", False]
    
    for item in my_list:
    print(item, type(item))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
{'a': 1, 'b': 2} <class 'dict'>
None <class 'NoneType'>
(1, 2) <class 'tuple'>
World <class 'str'>
False <class 'bool'>

In [ ]:
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible

In [2]:
Answer:
    A = 100
    B = 5

    count = 0

    while A % B == 0:
    A = A // B
    count += 1

    print("A is divisible by B", count, "times.")

A is divisible by B 2 times.

In [ ]:
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [3]:
Answer:
    my_list = [10, 6, 8, 27, 12, 18, 5, 33, 20, 9, 15, 22, 30, 14, 7, 11, 24, 3, 21, 16, 25, 36, 4, 19, 17]

    for element in my_list:
    if element % 3 == 0:
        print(element, "is divisible by 3")
    else:
        print(element, "is not divisible by 3")

10 is not divisible by 3
6 is divisible by 3
8 is not divisible by 3
27 is divisible by 3
12 is divisible by 3
18 is divisible by 3
5 is not divisible by 3
33 is divisible by 3
20 is not divisible by 3
9 is divisible by 3
15 is divisible by 3
22 is not divisible by 3
30 is divisible by 3
14 is not divisible by 3
7 is not divisible by 3
11 is not divisible by 3
24 is divisible by 3
3 is divisible by 3
21 is divisible by 3
16 is not divisible by 3
25 is not divisible by 3
36 is divisible by 3
4 is not divisible by 3
19 is not divisible by 3
17 is not divisible by 3

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

In [ ]:
Answer:
    (i) Mutable data types, allow their values to be modified after creation. 
    You can add or remove elements, change values, or modify the object directly.
    
Example:
    my_list = [1, 2, 3]
    my_list.append(4)
    my_list[1] = 5

    print(my_list)  # Output: [1, 5, 3, 4]
    
    (ii) Immutable data types, as the name suggests, are objects whose state cannot be changed once they are created. 
    Any operation that appears to modify an immutable object actually creates a new object with the desired changes.
    
Example:
    message = "Hello"
    new_message = message + " World"

    print(message)       # Output: Hello
    print(new_message)   # Output: Hello World